*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 18px;
}
.center{
    text-align: center;
}
header img{
    width: 100%;
}
header{
    height: 15vh;
    background-image: url("img/popcorn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
.main-title{
    margin: 0;
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    padding: 8px;
    height: 50vh;
}

.text-mood{
    width: 50vw;
    height: 20vh;
    justify-content: center;
    padding: 10px;
    border: 1px solid rgb(238, 230, 230);
}
.new-mood{
    margin-top: 50px;
}

button{
    padding: 5px;
    background-color: bisque;
    border-radius: 30%;
}
button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

footer{
    padding: 40px;
    text-align: center;
    background-color: bisque;
}

